<form style="transform: translateY(-20%);" class="w-100" method="post" action="">

  <div class="mb-3 ">
    <h1 class="display-6 ">Cadastro de processos</h1>
  </div>

  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" name="nprocesso" placeholder="name@example.com">
    <label for="floatingInput">Numero do processo</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="nomeCliente" placeholder="Nome Cliente" name="cliente">
    <label for="nomeCliente">Nome do cliente</label>
  </div>
  <div class="form-floating mb-5">
    <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="alvoProcesso">
    <label for="floatingPassword">Alvo do Processo</label>
  </div>

  <button type="submit" class="btn btn-success">Cadastrar</button>

</form>