<div class="card text-center">
    <div class="card-header">
        0987654398765
    </div>
    <div class="card-body">
        <h5 class="card-title">Isabel de Freitas Bermudes</h5>
        <p class="card-text">Banco pan</p>
        <a href="#" class="btn btn-primary">Ver movimentações</a>
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-danger" type="button">Arquivar</button>
            <button class="btn btn-success" type="button">Concluído</button>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        Última atualização 2 dias atras
    </div>
</div>